
.DS_Store

.Rhistory

Bahamonde_VoteSellingUS.aux

Bahamonde_VoteSellingUS.bbl

Bahamonde_VoteSellingUS.bcf

Bahamonde_VoteSellingUS.blg

Bahamonde_VoteSellingUS.fdb_latexmk

Bahamonde_VoteSellingUS.fls

Bahamonde_VoteSellingUS.log

Bahamonde_VoteSellingUS.out

Bahamonde_VoteSellingUS.run.xml

Bahamonde_VoteSellingUS.synctex.gz

Bahamonde_VoteSellingUS.tex
