# ignore temp files w/ trailing ~
*~

# ignore hidden files
.*

# ignore files with the rolling extensions
*.DS_Store
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.gz
*.fdb_latexmk
*.fls
*.Rhistory
*.md

Bahamonde_VoteSellingUS.tex


# don't ignore the .gitignore file
!.gitignore

# ignore folders


LICENSE
CENSUS
DataBackUp
Examples
IRB
Python_Scrypt

figure/

Bahamonde_VoteSellingUS\.synctex\(busy\)

*.bcf

*.xml

*.ent

*.fff

*.ttt
